<h2 class="screen-align">Createitem</h2>
<div id="template-ik1yl" class="gjs-row">
    <div id="template-idf51" class="gjs-cell">
        <div id="template-i9f89" class="gjs-row">
            <div id="template-ifowx" class="gjs-cell">
                <label id="template-ihe4g" class="label ">type</label>
                <input id="template-ip04d" [(ngModel)]="item.type" [ngModelOptions]="{standalone: true}"
                ngDefaultControl class="input form-control " />
            </div>
            <div id="template-i5wgv" class="gjs-cell">
                <label id="template-iuxr6" class="label ">Name</label>
                <input id="template-i47lc" [(ngModel)]="item.name" [ngModelOptions]="{standalone: true}"
                ngDefaultControl class="input form-control " />
            </div>
            <div id="template-iqiew" class="gjs-cell">
                <label id="template-ieskn" class="label ">Description</label>
                <input id="template-iu8rj" [(ngModel)]="item.description"
                [ngModelOptions]="{standalone: true}" ngDefaultControl class="input form-control "
                />
            </div>
        </div>
        <div id="template-ijk46" class="gjs-row">
            <div id="template-ig2ww" class="gjs-cell">
                <label id="template-i2juk" class="label ">price</label>
                <input id="template-iyo3p" [(ngModel)]="item.price" [ngModelOptions]="{standalone: true}"
                ngDefaultControl class="input form-control " />
            </div>
            <div id="template-ir3my" class="gjs-cell">
                <label id="template-i7ldi" class="label ">Price_currency_type</label>
                <input id="template-ikjyf" [(ngModel)]="item.price-currency-type"
                [ngModelOptions]="{standalone: true}" ngDefaultControl class="input form-control "
                />
            </div>
            <div id="template-i3jmw" class="gjs-cell"></div>
        </div>
        <div id="template-ilw3l" class="gjs-row">
            <div id="template-iu2gs" class="gjs-cell">
                <label id="template-ilzmi" class="label ">Cost</label>
                <input id="template-inrall" [(ngModel)]="item.cost" [ngModelOptions]="{standalone: true}"
                ngDefaultControl class="input form-control " />
            </div>
            <div id="template-iewmd" class="gjs-cell">
                <label id="template-ivr0i" class="label ">Cost_curreny_type</label>
                <input id="template-iikhm" [(ngModel)]="item.cost-currency-type"
                [ngModelOptions]="{standalone: true}" ngDefaultControl class="input form-control "
                />
            </div>
            <div id="template-i4j9t" class="gjs-cell"></div>
        </div>
        <div id="template-iws8m" class="gjs-row">
            <div id="template-idy7l" class="gjs-cell">
                <label id="template-izh61" class="label ">tags</label>
                <input id="template-imwzi" [(ngModel)]="item.tags" [ngModelOptions]="{standalone: true}"
                ngDefaultControl class="input form-control " />
            </div>
            <div id="template-ilz1s" class="gjs-cell">
                <label id="template-isuo9" class="label ">isMatrix</label>
                <input id="template-izbli" [(ngModel)]="item.ismatrix"
                [ngModelOptions]="{standalone: true}" ngDefaultControl class="input form-control "
                />
            </div>
            <div id="template-ivwpa" class="gjs-cell">
                <label id="template-illzf" class="label ">matrixId</label>
                <input id="template-i9y09" [(ngModel)]="item.matrix-id"
                [ngModelOptions]="{standalone: true}" ngDefaultControl class="input form-control "
                />
            </div>
        </div>
        <div id="template-i70eh" class="gjs-row">
            <div id="template-iy2fw" class="gjs-cell">
                <label id="template-is2xg" class="label ">warehouse</label>
                <input id="template-ic4z7" [(ngModel)]="item.warehouse"
                [ngModelOptions]="{standalone: true}" ngDefaultControl class="input form-control "
                />
            </div>
            <div id="template-irmlg" class="gjs-cell">
                <label id="template-io0oh" class="label ">warehouse_loc</label>
                <input id="template-i63gf" [(ngModel)]="item.warehouse-loc"
                [ngModelOptions]="{standalone: true}" ngDefaultControl class="input form-control "
                />
            </div>
            <div id="template-i1gx8" class="gjs-cell"></div>
        </div>
        <div id="template-it2hl" class="gjs-row">
            <div id="template-ieamr" class="gjs-cell">
                <label id="template-ivfsh" class="label ">manufacturer</label>
                <input id="template-i5rfe" [(ngModel)]="item.manufacturer"
                [ngModelOptions]="{standalone: true}" ngDefaultControl class="input form-control "
                />
            </div>
            <div id="template-i5oqi" class="gjs-cell">
                <label id="template-ic99k" class="label ">manufacture_country</label>
                <input id="template-i9h1a" [(ngModel)]="item.manufacture-country"
                [ngModelOptions]="{standalone: true}" ngDefaultControl class="input form-control "
                />
            </div>
            <div id="template-ib9ae" class="gjs-cell"></div>
        </div>
        <div id="template-i6m14j" class="gjs-row">
            <div id="template-i5l26k" class="gjs-cell">
                <label id="template-imyjfk" class="label ">lot_or_batch_num</label>
                <input id="template-i7mleb" [(ngModel)]="item.lot-or-batch-num"
                [ngModelOptions]="{standalone: true}" ngDefaultControl class="input form-control "
                />
            </div>
            <div id="template-id8zkk" class="gjs-cell">
                <label id="template-ieur62" class="label ">external_reference_one</label>
                <input id="template-iglwef" [(ngModel)]="item.external-reference-one"
                [ngModelOptions]="{standalone: true}" ngDefaultControl class="input form-control "
                />
            </div>
            <div id="template-i0e43x" class="gjs-cell"></div>
        </div>
        <div id="template-ivd5q" class="gjs-row">
            <div id="template-is409" class="gjs-cell">
                <div id="template-ivh20h" (click)="GpCreate()" class="button btn btn-primary ">Create</div>
                <div id="template-iwey7g" class="button btn ">Cancel</div>
            </div>
        </div>
    </div>
</div>