<h2 class="screen-align">Gpinventorycreate</h2>
<div id="template-ihgx" class="form ">
    <div id="template-ii72" class="form-group ">
        <label id="template-ir4d" class="label ">Name</label>
        <input placeholder="Type here your name" id="template-idka"
        class="input " />
    </div>
    <div id="template-itnx" class="form-group ">
        <label id="template-iwis" class="label ">Email</label>
        <input type="email" placeholder="Type here your email" id="template-i51i"
        [(ngModel)]="item.price" [ngModelOptions]="{standalone: true}" ngDefaultControl
        class="input " />
    </div>
    <div id="template-i09t6" class="form-group "></div>
    <div id="template-icpby" class="form-group ">
        <label id="template-iq6p2" class="label ">Message</label>
        <textarea id="template-inpqi" [(ngModel)]="item.description"
        [ngModelOptions]="{standalone: true}" ngDefaultControl class="textarea form-control "></textarea>
    </div>
    <div id="template-i8q5k" class="form-group ">
        <div type="submit" id="template-i0i3d" class="button btn btn-primary ">Send</div>
    </div>
</div>